html * {
padding: 0;
font-family: 'Play', sans-serif !important;
font-size: 100%;

  }
 body {background: #FDFDFE !important;}

  .chart-container {position: relative;  width:100%; height: 800}
  .mini-icon {width: 20px; height: 20px}
  .icon-style {margin-top: 10vh !important}
  div {text-align: justify};
  #temperature-description {padding-top: -30px !important};
  #temp-error {margin: 35px 0 35px 0 !important}
  p {font-size: 22px}
  #h1-id {padding:  40vh 0 0 0; font-size: 2.5em; color: #343837}
  #h2-id {font-size: 1.5em; color: #343837; font-weight: 400}
  footer p {margin: 0; font-size: 0.7em; text-align: center !important}
  #down-icon {margin-top: 6rem !important}
  .title-h2 {padding:  15vh 0 10vh 0 !important; text-decoration: underline;}
  .api-segment {margin:  8vh 0 8vh 0 !important}
  .accordion-co2 {width: 90%; font-size: 150% !important; background-color: #4984B8 !important; color: white !important}
  .accordion-temp {width: 90%; font-size: 150% !important; background-color: #FF073A !important; color: white !important}
  .accordion-methane {width: 90%; font-size: 150% !important; background-color: #A75E09 !important; color: white !important}
  .accordion-nitrous {width: 90%; font-size: 150% !important; background-color: #FDB147 !important; color: white !important}
  .accordion-arctic {width: 90%; font-size: 150% !important; background-color: #7BC8F6 !important; color: white !important}


  @media only screen and (max-width: 600px) {
  i {display: none !important}
}
.api-segment i::before {position: relative ;content: url(circle-right.png) !important; margin-left: -15px; bottom: -7px !important}
#landing-page-news { background-color: #1F3B4D}
#h1-news {font-size: 2.5em; color: white !important; padding: 40vh 0 0vh 0}
#h2-news {font-size: 1.5em; color: white !important; font-weight: 400}
#list-news {font-size: 2.2em !important; padding: 10vh !important}
#news-date {font-weight: 300; text-decoration: underline; padding: 10px !important}
h4 {font-size: 1.5em !important; margin-bottom: 5vh !important}
.temperature-background, .methane-background {background: #F8F8FF !important}
#co2Btn {background-color: #4984B8 !important ; color: white !important}
#methaneBtn {background-color: #A75E09 !important ; color: white !important}
#nitrousBtn {background-color: #FDB147 !important ; color: white !important}
#arcticBtn {background-color: #7BC8F6 !important ; color: white !important}
.sideBar { position: relative !important}
#landing-page-deforestation { background-color: #048243}
.sidebar-config-out {transform: translateX(-150px) !important; transition-duration: 1s; ; background: rgb(104, 104, 104) !important}
.sidebar-config-in {transition-duration: 1s; ; background: rgb(104, 104, 104) !important}
.fix {position: fixed !important; width: 10em !important; margin-top: 30vh !important; padding: 0; opacity: 1 !important}

#rotate-left {transform: rotate(180deg); transition-duration: 1s }
#rotate-right {transform: rotate(1deg); transition-duration: 1s }
