html * {
padding: 0;
font-family: 'Play', sans-serif !important;
font-size: 100%;
  }

  .chart-container {position: relative; width: 80vw}
  .mini-icon {width: 20px; height: 20px}
  div {text-align: justify};
  #description {margin-top: -30px};
  p {font-size: 22px}
  #h1-id {margin:  15vh 0 10vh 0;
  font-size: 2.5em;
color: #343837}
    #h2-id {font-size: 1.5em;
    color: #343837;
  font-weight: 400}
  footer p {margin: 0; font-size: 0.7em}
  #landing-page {width: 100vw; height: 100vh}
  #down-icon {margin-top: 9rem !important}